<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.wecoding.mybatis.mapper.BatchDemoMapper">

    <resultMap id="BaseResultMap" type="top.wecoding.mybatis.domain.BatchDemo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="batchName" column="batch_name" jdbcType="VARCHAR"/>
            <result property="batchValue" column="batch_value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch_name,batch_value
    </sql>

    <update id="createTempTable">
        create temporary table batch_demo_temp
        (
          id          int         not null comment 'id'
              primary key,
          batch_name  varchar(32) null,
          batch_value varchar(32) null
        ) engine = MEMORY
          comment '批量处理测试表暂存表'
    </update>

    <insert id="insertTempTableForMybatis" keyColumn="id" keyProperty="id" parameterType="top.wecoding.mybatis.domain.BatchDemo" useGeneratedKeys="true">
        insert into batch_demo_temp
        ( id,batch_name,batch_value
        )
        values (#{id,jdbcType=INTEGER},#{batchName,jdbcType=VARCHAR},#{batchValue,jdbcType=VARCHAR}
               )
    </insert>

    <insert id="insertByTempTableForMybatis" keyColumn="id" keyProperty="id" parameterType="top.wecoding.mybatis.domain.BatchDemo" useGeneratedKeys="true">
        insert into batch_demo select * from batch_demo_temp
    </insert>

    <insert id="insertForMybatis" keyColumn="id" keyProperty="id" parameterType="top.wecoding.mybatis.domain.BatchDemo" useGeneratedKeys="true">
        insert into batch_demo
        ( id,batch_name,batch_value
        )
        values (#{id,jdbcType=INTEGER},#{batchName,jdbcType=VARCHAR},#{batchValue,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertListForMybatis" keyColumn="id" keyProperty="id" parameterType="list" useGeneratedKeys="true">
        insert into batch_demo values
        <foreach collection="batchDemoList" index="index" item="batchDemo" separator=",">
            ( #{batchDemo.id,jdbcType=INTEGER},
             #{batchDemo.batchName,jdbcType=VARCHAR},
             #{batchDemo.batchValue,jdbcType=VARCHAR}
             )
        </foreach>
    </insert>

    <insert id="insertOrUpdateListForMybatis" keyColumn="id" keyProperty="id" parameterType="list" useGeneratedKeys="true">
        insert into batch_demo values
        <foreach collection="batchDemoList" index="index" item="batchDemo" separator=",">
            ( #{batchDemo.id,jdbcType=INTEGER},
            #{batchDemo.batchName,jdbcType=VARCHAR},
            #{batchDemo.batchValue,jdbcType=VARCHAR}
            )
        </foreach>
        on duplicate key update
        batch_name = values(batch_name),
        batch_value = values(batch_value)
    </insert>

</mapper>
